{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>AD.<span class="text-danger">42</span><span class="text-primary">Mediatvcom</span></h1>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="login-panel panel panel-default" style="margin-top: 10px;">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-exclamation-sign"
                                  aria-hidden="true"></span><b>Erreur 404</b>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="alert alert-danger text-center" role="alert">
                                    <p>

                                        <span class="sr-only">Erreur:</span>
                                        La page demandée n'existe pas.
                                        Veuillez contacter
                                        l'administrateur en cliquant sur le lien suivant:
                                        <a href="mailto:rachid.dahmani@estiam.com">ICI</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

